.set {
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid black;
    margin-top: 80px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: brown;
    
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: gray;
} 

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: red;
}